In [ ]:


import pandas as pd
import numpy as np
import os

# What this does: Counts the frequency of non nan's for each feature for each station
# and organizes this information into Features_No_NAN_Counts.csv.

# Note: In the documentation (isd-format-document.pdf) sometimes a number 
# stands in for a nan value. We will deal with that if we choose such a 
# feature later on.


dirc = 'Data/OK City Station Data/Raw Data'
raw_station_data = os.listdir('Data/OK City Station Data/Raw Data') # list files in directory

station_csv_files = [file for file in raw_station_data if ('.csv' in file) and ('Station' in file)] # get csv files

station_list = [] # to hold station numbers as keys and number of csv files as entries

for file in station_csv_files:
    underscore_split = file.split('_')
    station_num = underscore_split[1].replace('.csv','')  
    station_list.append(int(station_num)) # station_num is a string
    


# Read in CSV's as pd.DataFrame's concat along axis = 0 

station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
stations_df = pd.concat(station_pd_dfs, axis = 0)
df = stations_df.reset_index().drop(['index', 'Unnamed: 0'], axis =1).copy()

/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (7,14,15,16,17,19,20,21,22,23,24,25,26,27,28,29,30,32,33,34,40,41,42,43,44,45,46,47,50,51,52,56,57,58,59,60,65,68,69,70,71,76,79,80,81,82,83,90,91,92,93,94,95,96,97,98,99,102,104,105,106,110,111,113,120,121,122,125) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (39,40,41,42,43,47,48,52,53,54,55,57,58,59,60,61,65,70,71,76,77,88,89,106,108,109,110) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,32,34,40,41,42,43,49,65,68,76,79,80,84,85,90,91,92,95,96,97,104,105,106,110,111,123,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (17,39,40,45,50,103,104,106,114,115) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (13,15,16,17,19,20,21,22,23,24,25,26,27,28,29,30,32,33,34,38,39,40,41,42,43,45,46,47,50,51,52,53,54,58,59,60,61,70,90,91,92,93,94,95,96,97,104,105,106,108,130) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (31,49,65,68,85,86,87,123,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (11,38,39,40,41,42,45,50,51,86,106,107) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (39,40,45,50,51,52,77,106,107,108) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (38,39,40,41,51,101,107) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (12,13,39,40,41,42,43,46,47,48,51,52,76,88,89,108,109,110) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (39,40,41,51,52,107) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (31,40,41,42,43,47,53,110,111) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (39,40,41,42,43,47,52,53,58,59,70,76) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (7,31,33,35,39,40,41,42,43,47,52,53,59,88,89,108,109,125) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (7,15,16,17,19,20,21,22,23,24,25,26,27,28,29,30,36,37,38,39,40,44,45,46,47,49,50,51,56,57,58,59,68,69,74,75,79,80,90,91,92,93,94,95,96,97,104,105,106,107,125) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (40,41,42,47,53,59) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (31,41,42,43,47,48,52,53,70,71,72,84,88,89,108,109) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (13,31,49,50,67,68,69,70,76,81,82,83,85,109,110,113,123,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (31,41,42,43,46,47,48,52,53,70,71,77,84,109,110) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (13,17,31,41,42,43,47,52,65,70,71,76,86,87,106,110,114,115) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (40,41,42,47,53,54,58,59,60,108,130) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_5166/2667565951.py:38: DtypeWarning: Columns (11,12,49,67,68,69,86,87,101,107,108,109,123,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  station_pd_dfs=[pd.read_csv(f"{dirc}/{file}").copy() for file in station_csv_files]

In [46]:
# Can add more features if we so desire; maybe GA1--GR1??


selected_columns = ['STATION',
                    'LATITUDE',
                    'LONGITUDE',
                    'DATE',
                    'SOURCE',
                    'WND',
                    'TMP',
                    'CIG',
                    'VIS',
                    'DEW',
                    'SLP',
                    'AW1',
                    'AW2',
                    'AW3',
                    'AW4',
                    'AX1',
                    'AX2',
                    'AX3',
                    'AX4',
                    'AX5',
                    'AX6',
                    ]

In [ ]:
df = df[selected_columns]




# some columns have different na codes; in columns with tuples there is often a entry 
# that indicates missing data, we should check these out.


# after dealing with na vals: some columns have tuples, we might want to explode 
# those columns into separate columns too

,STATION,LATITUDE,LONGITUDE,DATE,SOURCE,WND,TMP,CIG,VIS,DEW,...,AW1,AW2,AW3,AW4,AX1,AX2,AX3,AX4,AX5,AX6
0,72353013967,35.3889,-97.6006,2004-05-08T18:00:00,3,"180,5,N,0093,5","+0278,5","22000,5,M,N","016000,5,N,1","+0178,5",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,72353013967,35.3889,-97.6006,2004-05-08T18:52:00,C,"180,5,N,0077,5","+0283,5","22000,5,M,N","016000,5,N,1","+0178,5",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,72353013967,35.3889,-97.6006,2004-05-08T19:00:00,9,"999,9,9,9999,9","+9999,9","99999,9,9,9","999999,9,9,9","+9999,9",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,72353013967,35.3889,-97.6006,2004-05-08T19:52:00,C,"170,5,N,0082,5","+0289,5","22000,5,M,N","016000,5,N,1","+0178,5",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,72353013967,35.3889,-97.6006,2004-05-08T20:00:00,9,"999,9,9,9999,9","+9999,9","99999,9,9,9","999999,9,9,9","+9999,9",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1370630,72357099999,35.2330,-97.4500,2005-12-31T22:32:00,4,"150,1,N,0036,1","+0170,1","22000,1,9,N","016093,1,N,1","-0020,1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1370631,72357099999,35.2330,-97.4500,2005-12-31T22:52:00,4,"150,1,N,0031,1","+0160,1","22000,1,9,N","016093,1,N,1","-0020,1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1370632,72357099999,35.2330,-97.4500,2005-12-31T23:12:00,4,"160,1,N,0026,1","+0160,1","22000,1,9,N","016093,1,N,1","-0020,1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1370633,72357099999,35.2330,-97.4500,2005-12-31T23:32:00,4,"130,1,N,0021,1","+0150,1","22000,1,9,N","016093,1,N,1","-0020,1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1370634,72357099999,35.2330,-97.4500,2005-12-31T23:52:00,4,"130,1,N,0015,1","+0140,1","22000,1,9,N","016093,1,N,1","-0030,1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
list(df['AW1'].value_counts().index) #99 = tornado in preceding hour doesn't look like there is one...

['10,5',
 '61,5',
 '30,5',
 '51,5',
 '62,5',
 '10,1',
 '71,5',
 '12,1',
 '05,1',
 '90,5',
 '61,1',
 '63,5',
 '04,1',
 '40,1',
 '10,6',
 '35,5',
 '64,5',
 '52,5',
 '61,7',
 '92,1',
 '30,1',
 '71,1',
 '51,1',
 '91,1',
 '62,1',
 '30,6',
 '81,5',
 '54,5',
 '27,5',
 '41,5',
 '10,7',
 '18,5',
 '95,1',
 '72,7',
 '63,7',
 '63,6',
 '65,5',
 '52,1',
 '35,6',
 '27,6',
 '63,1',
 '71,7',
 '31,5',
 '51,7',
 '72,6',
 '51,2',
 '27,1',
 '73,6',
 '35,1',
 '30,7',
 '74,5',
 '53,5',
 '41,7',
 '51,6',
 '05,5',
 '72,1',
 '52,6',
 '61,6',
 '55,5',
 '75,5',
 '73,1',
 '52,7',
 '90,7',
 '53,1',
 '73,5',
 '31,6',
 '62,6',
 '72,5',
 '18,1',
 '64,7',
 '90,1',
 '64,1',
 '35,7',
 '31,1',
 '66,5',
 '75,7',
 '74,7',
 '41,6',
 '60,6',
 '40,2',
 '65,1',
 '65,7',
 '18,6',
 '76,5',
 '75,1',
 '53,7',
 '60,5',
 '45,1',
 '91,5',
 '33,5',
 '60,7',
 '67,1',
 '52,2',
 '56,5',
 '77,1',
 '55,7',
 '62,7',
 '71,6',
 '44,1',
 '61,2',
 '83,5',
 '82,5',
 '54,2',
 '54,6',
 '54,1',
 '65,6',
 '90,6',
 '53,6',
 '89,1',
 '76,7',
 '92,2']

In [42]:
df['WND']

0          180,5,N,0093,5
1          180,5,N,0077,5
2          999,9,9,9999,9
3          170,5,N,0082,5
4          999,9,9,9999,9
                ...
1370630    150,1,N,0036,1
1370631    150,1,N,0031,1
1370632    160,1,N,0026,1
1370633    130,1,N,0021,1
1370634    130,1,N,0015,1
Name: WND, Length: 1370635, dtype: object

WND
999,9,9,9999,9    104481
999,9,C,0000,5     60371
999,9,C,0000,1     22235
170,5,N,0046,5      7138
170,5,N,0057,5      6834
                   ...
321,5,N,0062,5         1
034,5,N,0031,5         1
120,5,N,0015,6         1
090,5,N,0092,5         1
230,1,N,0175,1         1
Name: count, Length: 4158, dtype: int64

In [ ]:
toconcat = [pd.DataFrame(len_record[station],index = [f'Station {station}']).T for station in stations]
final_df = pd.concat(toconcat, axis = 1)
final_name = 'Features_No_NAN_Counts.csv'
final_path = f'Data/OK City Station Data/Raw Data Observations/{final_name}'
final_df.to_csv(final_path)

/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:12: DtypeWarning: Columns (15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,32,34,40,41,42,43,49,65,68,76,79,80,84,85,90,91,92,95,96,97,104,105,106,110,111,123,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:12: DtypeWarning: Columns (7,14,15,16,17,19,20,21,22,23,24,25,26,27,28,29,30,32,33,34,40,41,42,43,44,45,46,47,50,51,52,56,57,58,59,60,65,68,69,70,71,76,79,80,81,82,83,90,91,92,93,94,95,96,97,98,99,102,104,105,106,110,111,113,120,121,122,125) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:12: DtypeWarning: Columns (39,40,41,42,43,47,48,52,53,54,55,57,58,59,60,61,65,70,71,76,77,88,89,106,108,109,110) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:7: DtypeWarning: Columns (17,39,40,45,50,103,104,106,114,115) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:7: DtypeWarning: Columns (31,49,65,68,85,86,87,123,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:12: DtypeWarning: Columns (11,38,39,40,41,42,45,50,51,86,106,107) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:12: DtypeWarning: Columns (38,39,40,41,51,101,107) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:12: DtypeWarning: Columns (39,40,45,50,51,52,77,106,107,108) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:12: DtypeWarning: Columns (39,40,41,51,52,107) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:12: DtypeWarning: Columns (13,17,31,41,42,43,47,52,65,70,71,76,86,87,106,110,114,115) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:12: DtypeWarning: Columns (31,41,42,43,47,48,52,53,70,71,72,84,88,89,108,109) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:12: DtypeWarning: Columns (31,41,42,43,46,47,48,52,53,70,71,77,84,109,110) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:12: DtypeWarning: Columns (39,40,41,42,43,47,52,53,58,59,70,76) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:12: DtypeWarning: Columns (7,31,33,35,39,40,41,42,43,47,52,53,59,88,89,108,109,125) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:12: DtypeWarning: Columns (40,41,42,47,53,59) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:7: DtypeWarning: Columns (7,15,16,17,19,20,21,22,23,24,25,26,27,28,29,30,36,37,38,39,40,44,45,46,47,49,50,51,56,57,58,59,68,69,74,75,79,80,90,91,92,93,94,95,96,97,104,105,106,107,125) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:7: DtypeWarning: Columns (13,31,49,50,67,68,69,70,76,81,82,83,85,109,110,113,123,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)
/var/folders/_y/61ngw3jd5739nsvht6fg3wfr0000gn/T/ipykernel_3511/2459208806.py:7: DtypeWarning: Columns (11,12,49,67,68,69,86,87,101,107,108,109,123,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  station_df = pd.read_csv(station_csv)

STATION length: 59452
NAME length: 59452
LATITUDE length: 59452
LONGITUDE length: 59452
ELEVATION length: 59452
DATE length: 59452
SOURCE length: 59452
REPORT_TYPE length: 59452
CALL_SIGN length: 59452
QUALITY_CONTROL length: 59452
AA1 length: 51970
AA2 length: 2277
AA3 length: 232
AA4 length: 0
AB1 length: 57
AD1 length: 58
AE1 length: 58
AG1 length: 0
AH1 length: 57
AH2 length: 57
AH3 length: 57
AH4 length: 57
AH5 length: 57
AH6 length: 57
AI1 length: 58
AI2 length: 58
AI3 length: 58
AI4 length: 58
AI5 length: 58
AI6 length: 58
AJ1 length: 1510
AK1 length: 0
AL1 length: 1518
AM1 length: 0
AN1 length: 1488
AT1 length: 844
AT2 length: 548
AT3 length: 258
AT4 length: 73
AT5 length: 13
AT6 length: 6
AT7 length: 4
AT8 length: 0
AU1 length: 10388
AU2 length: 3992
AU3 length: 994
AU4 length: 4
AU5 length: 0
AW1 length: 10357
AW2 length: 4140
AW3 length: 1449
AW4 length: 656
AW5 length: 4
AW6 length: 1
AW7 length: 0
AX1 length: 784
AX2 length: 369
AX3 length: 59
AX4 length: 5
AX5 length: 1
AX6 length: 0
CALL_SIGN.1 length: 59452
CIG length: 59452
DEW length: 59452
ED1 length: 0
EQD length: 6644
GA1 length: 57248
GA2 length: 9595
GA3 length: 3939
GA4 length: 0
GA5 length: 0
GA6 length: 0
GD1 length: 57304
GD2 length: 9617
GD3 length: 3945
GD4 length: 0
GE1 length: 24352
GF1 length: 55578
GJ1 length: 0
GK1 length: 0
GP1 length: 0
GQ1 length: 0
GR1 length: 0
HL1 length: 0
IA1 length: 0
KA1 length: 9573
KA2 length: 9524
KA3 length: 1903
KA4 length: 1883
KB1 length: 58
KB2 length: 58
KB3 length: 58
KC1 length: 58
KC2 length: 58
KD1 length: 58
KD2 length: 58
KE1 length: 57
KG1 length: 0
KG2 length: 0
MA1 length: 57453
MD1 length: 15421
MF1 length: 0
MG1 length: 1941
MH1 length: 58
MK1 length: 58
MV1 length: 1074
MW1 length: 4476
MW2 length: 2
MW3 length: 0
MW4 length: 0
MW5 length: 0
OC1 length: 11714
OD1 length: 6343
OE1 length: 1941
OE2 length: 1941
OE3 length: 1937
QUALITY_CONTROL.1 length: 59452
REM length: 59452
REPORT_TYPE.1 length: 59452
RH1 length: 0
RH2 length: 0
RH3 length: 0
SA1 length: 0
SLP length: 59452
SOURCE.1 length: 59452
TMP length: 59452
UA1 length: 0
UG1 length: 0
VIS length: 59452
WA1 length: 427
WND length: 59452

In [104]:
station_df['TMP'].dropna()

0        +0117,5
1        +0133,5
2        +0133,5
3        +0139,5
4        +0139,5
          ...
59448    +0161,5
59449    +0170,5
59450    +0170,5
59451    +0180,5
59452    +0183,5
Name: TMP, Length: 59453, dtype: object

In [105]:
station_df['DEW']

0        -0006,5
1        +0006,5
2        +0006,5
3        +0011,5
4        +0017,5
          ...
59448    +0144,5
59449    +0160,5
59450    +0150,5
59451    +0140,5
59452    +0144,5
Name: DEW, Length: 59453, dtype: object

In [1]:
station_df['AA1']

NameError: name 'station_df' is not defined

1324